nav {
    float: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #996600;
    padding-left: 120px;
    text-align: center;

.name-banner h1 {
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-weight: normal;
  font-size: 70px;
  word-spacing: 6px;
}
.name-banner h3 {
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  word-spacing: 6px;
}
.name-banner {
  background: #ffcccc;
}
